ul li:first-child{
color: #008000 !important;
}
ul li:first-child *{
    color: inherit;
}
ul {
    list-style:none;
}
li {
    width: 100px;
    height:36px;
    display:inline-block;
}
li:hover, .active {
    background-color:#f2f2f2;
}
p{
    margin-bottom: 20px;
    padding: 10px;
}
 
input[type="text"] {
    border: 0;
    border-bottom: 5px solid #ccc;
    background-color: white;
    transition: border-bottom-color 0.3s;
 }
 input[type="text"]:focus {
    border-bottom-color: #ccc;
 }
